.contain{
    margin-top: 10px;
    padding-bottom: 40px;
}

.activator{
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0px 10px 15px;
    background: #efefef;
    width: 300px;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.contain:hover + .dot {
    transform: translateX(275px);
    opacity: 1;
}

.activator:hover + .dot {
    transform: translateX(275px);
    opacity: 1;
}

.dot:hover{
    transform: translateX(275px);
    opacity: 1;
}

/*--------------------------APPROACHABLE-------------------------------*/

.approachable {
    background: mediumturquoise;
    transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.servile {
    background: mediumturquoise;
    transition: transform 0.6s cubic-bezier(.85,.58,0,1); 
}
/*----------------------------COLLOQUIAL-----------------------------*/

.colloquial {
    background: salmon;
    transition: transform 0.6s cubic-bezier(.33,.57,.31,.99);
}

.slangy {
    background: salmon;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);}

/*-----------------------------CONCISE----------------------------*/

.concise {
    background: lightskyblue;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.curt {
    background: lightskyblue;
    transition: transform 0.6s cubic-bezier(0,.9,0,.95); 
}

/*-----------------------------FRIENDLY----------------------------*/

.friendly {
    background: khaki;
    transition: transform 0.6s cubic-bezier(.14,.83,.45,1.01);
}

.chummy {
    background: khaki;
    transition: transform 0.6s cubic-bezier(.32,-0.56,.62,1.34); 
}

/*---------------------------HELPFUL------------------------------*/

.helpful {
    background: PaleTurquoise;
    transition: transform 0.6s cubic-bezier(.14,.9,.84,1), opacity.6s cubic-bezier(.14,.9,.84,1); 
}

.helpful2 {
    background: PaleTurquoise;
    transition: transform 0.6s cubic-bezier(14,.9,.84,1), opacity.6s cubic-bezier(14,.9,.84,1); 
}

.bossy {
    background: PaleTurquoise;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1), opacity.6s cubic-bezier(0.86, 0, 0.07, 1); 
}

/*-----------------------------LIGHTHEARTED----------------------------*/

.lighthearted {
    background: thistle;
    transition: transform 0.6s cubic-bezier(.65,.26,.65,1.18); 
}

.silly {
    background: thistle;
    transition: transform 0.6s cubic-bezier(.38,-0.71,.59,1.59); 
}

/*-------------------------PROFESSIONAL--------------------------------*/

.professional {
    background: gold;
    transition: transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.professional2 {
    background: gold;
    transition: transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);}

.professional3 {
    background: gold;
    transition: transform 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);}

.formal {
    background: gold;
    transition: transform 0.6s cubic-bezier(.65,.21,.66,.9);
}

/*----------------------------SMART-----------------------------*/
.smart {
    background: rgb(171, 107, 231);
    transition: transform 0.6s cubic-bezier(.15,.76,.9,.99 ); 
}

.arrogant {
    background: rgb(171, 107, 231);
    transition: transform 0.6s cubic-bezier(.65,.21,.19,.97);
}